@font-face {
  font-family: "Popppins";
  src: url(./assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Popppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Popppins";
  src: url(./assets/fonts/Poppins-Italic.ttf);
  font-style: italic;
}
/* css variables */
:root {
  --padding: 24px;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Popppins";
}
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}
.button-primary {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 24px;
  font-weight: 500;
}
.header-nav-area {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.sign-up-btn {
  margin-left: 54px;
}
.nav-link {
  margin-right: 65px;
}
.nav-link a {
  text-decoration: none;
  color: #000;
}
.nav-link:last-child {
  margin-right: 0;
}
.logo-img {
  width: 236px;
  height: 60px;
}
.banner {
  padding: var(--padding);
  position: relative;
}

.banner .banner-image {
  width: 100%;
  height: auto;
  max-height: 800px;
  border-radius: 59px;
  object-fit: cover;
}
.banner-btn {
  position: absolute;
  bottom: 90px;
  left: 125px;
}
